div.cell {
    display: inline-block;
    background-color: #999999;
    margin: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
